# Dependencies
node_modules/
**/node_modules/

# Environment variables / secrets
.env
.env.*
**/.env
**/.env.*

# Build output
dist/
**/dist/
build/
**/build/

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Local notes
aws.txt

# TypeScript build cache
*.tsbuildinfo